body {
    font-family: "Lato", sans-serif;
}

h2 {
    margin-left: 5px;
}

div,
#nav {
    transition: all 0.2s linear;
}

h2 {
    padding:5px;
    padding-bottom:0px;
    /* padding-bottom:10px; */
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    padding-top: 20px;
    /* font: 14.0px/1.5 Segoe UI, serif; */

}

.sidenav a {
    padding: 0px 8px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.fafaside a {
    display: inline;
    text-decoration: none;
}

.fafaside a:hover {
    display: inline;
    text-decoration: none;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    /* font-size: 18px; */
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    /* font: 15.0px/1.5 Segoe UI, serif; */
    /* display: flex; */
    /* justify-content: center; */

}

h2 {
    color: #043361;
}

p {
    color: #595959;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.mix {
    background: #fff;
    border: 2px solid black;
    border-top: 0.5rem solid currentColor;
    border-radius: 10px;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    height: 400px;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* .mix,
.gap {
    display: inline-block;
    vertical-align: top;
    /* margin-right:10px; */


/* overflow: scroll; 


}
.mix,
.gap {
    /* width: calc(100%/4 - (((2 - 1) * 1rem) / 2)); 
}
*/

.mix img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 100px;
    object-fit: contain;
}

.mix,
gap {
    width: 250px;
    margin: 10px;
}

.pcontainer {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

.sectioncontent {
    margin-left: 20px;margin-top: 10px; margin-right:20px;
    /* text-align: justify;
    text-justify: inter-word; */
    text-align: left;
}

.bordered li {
    margin-bottom:25px;
        /* border:1px solid grey;border-radius: 15px; */

}

.bordered ul {
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */}

.bordered {
    /* border:1px solid grey;border-radius: 15px; */
    margin:5px; 
}


/* @media screen and (min-width: 1200px) {
    .mix,
    .gap {
        width: calc(100%/6 - (((4 - 1) * 1rem) / 4)) !important;
    }
}

@media screen and (min-width: 992px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((3 - 1) * 1rem) / 3)) !important;
    }
} */

.panel-body {
    margin-left: 10px;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212 !important;
        color: white !important;
    }
    section {
        background-color: #121212 !important;
        color: white !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    i,
    label,
    textarea,
    pre,
    b,
    table {
        /* background-color: #121212 !important; */
        color: white;
    }
    .navbar,
    .topnav {
        background-color: #333 !important;
    }
    .ui-popup {
        background-color: #121212 !important;
    }
    Table {
        border: 1px solid white !important;
    }
    Text {
        color: white !important;
        fill: white !important;
        text-shadow: none;
    }
    .sidenav {
        background-color: #000000;
    }
    .mix {
        background: #000000;
        /* border: 2px solid white; */
    }
}

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
/* p {
    margin-top: 5px;
} */

div.panel {
    margin-top: 10px;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}